

body {
    margin: 0;
    /* Reset margin */
    height: 100vh;
    /* Výška 100% viewportu */  
    background-color: rgb(0, 0, 0);
    
}

h2 {
    color: antiquewhite;
}

h3 {
    color: aqua;
}

h1 {
    color: aquamarine;
}
